<%= link_to "Moar Cat!", new_cat_path, class: 'uk-button uk-button-primary uk-float-right' %>

<h2>All Teh Cats!</h2>

<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th>URL</th>
      <th>Caption</th>
      <th class="uk-text-center">Active</th>
      <th class="uk-text-center">Featured</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><%= link_to cat.url, cat_path(cat) %></td>
        <td><%= cat.caption %></td>
        <td class="status">
          <%- if cat.active? %>
            <%= button_to "", cat_path(cat), method: :patch, params: { 'cat[active]' => false, next_action: "index" }, class: "button-status-toggle button-disable" %>
            <i class="status-active"></i>
          <%- else %>
            <%= button_to "", cat_path(cat), method: :patch, params: { 'cat[active]' => true, next_action: "index" }, class: "button-status-toggle button-enable" %>
            <i class="status-inactive"></i>
          <% end %>
        </td>
        <td class="status">
          <%- if cat.featured? %>
            <%= button_to "", cat_path(cat), method: :patch, params: { 'cat[featured]' => false, next_action: "index" }, class: "button-status-toggle button-disable" %>
            <i class="status-active"></i>
          <%- else %>
            <%= button_to "", cat_path(cat), method: :patch, params: { 'cat[featured]' => true, next_action: "index" }, class: "button-status-toggle button-enable" %>
            <i class="status-inactive"></i>
          <% end %>
          <%- if cat.featured? %>
            <br />
            <%= time_ago_in_words cat.featured_on %>
          <% end %>
        </td>
        <td class="uk-button-group">
          <%= link_to edit_cat_path(cat), class: 'uk-button' do %>
            <i class="uk-icon-edit"></i> Edit
          <% end %>
          <%= button_to cat, method: :delete, class: 'uk-button uk-button-danger' do %>
            <i class="uk-icon-trash"></i> Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
