<!DOCTYPE html>
<html>
<head>
  <title>CatErWallADemoRepo</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>

<div class="uk-container">
  <h1><%= link_to 'Catz!!1!', root_path %></h1>
  <hr>
  <%- flash.each do |name, message| %>
    <div class="flash <%= name %>"><%= message %></div>
  <% end %>
  <%= yield %>
</div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
